<div class="form-group">
    <label for="image_url">Product Image</label>
    
    <% if (item && item.image_url) { %>
        <div class="current-image">
            <p>Current image:</p>
            <img src="<%= item.image_url %>" alt="<%= item.name %>" class="image-preview">
            <div class="image-actions">
                <a href="<%= item.image_url %>" target="_blank" class="btn-icon">
                    <i class="fas fa-external-link-alt"></i> View Full Size
                </a>
                <button type="button" class="btn-icon btn-danger" onclick="document.getElementById('image_url').value = '';">
                    <i class="fas fa-trash"></i> Remove
                </button>
            </div>
        </div>
    <% } %>
    
    <input 
        type="url" 
        id="image_url" 
        name="image_url" 
        value="<%= (item && item.image_url) || '' %>" 
        class="form-control"
        placeholder="https://example.com/product-image.jpg"
        pattern="https?://.+"
        title="Please enter a valid image URL starting with http:// or https://"
    >
    <small class="form-text">
        Enter a direct image URL. You can use free image hosting services like 
        <a href="https://imgbb.com/" target="_blank">ImgBB</a> or 
        <a href="https://postimages.org/" target="_blank">PostImages</a>.
    </small>
    
    <div class="sample-images">
        <p class="form-text">Sample image URLs for testing:</p>
        <div class="sample-image-list">
            <button type="button" class="sample-image-btn" onclick="document.getElementById('image_url').value = 'https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-15-pro-finish-select-202309-6-7inch?wid=5120&hei=2880&fmt=webp'">
                iPhone
            </button>
            <button type="button" class="sample-image-btn" onclick="document.getElementById('image_url').value = 'https://gmedia.playstation.com/is/image/SIEPDC/ps5-product-thumbnail-01-en-14sep21'">
                PS5
            </button>
            <button type="button" class="sample-image-btn" onclick="document.getElementById('image_url').value = 'https://www.apple.com/v/macbook-pro-14-and-16/b/images/overview/hero/hero_intro_endframe__e6khcva4hkeq_large.jpg'">
                MacBook
            </button>
        </div>
    </div>
</div>
